 /* SEARCH BAR STYLING HERE */
    @import url(https://fonts.googleapis.com/css?family=Open+Sans);

    body{
      background: #f2f2f2;
      font-family: 'Open Sans', sans-serif;
     }

    .search {
      width: 100%;
      position: relative
      }

    .searchTerm {
      float: left;
      width: 100%;
      border: 3px solid #00B4CC;
      padding: 5px;
      height: 38px;
      border-radius: 5px;
      outline: none;
      color: #9DBFAF;
      }

    .searchTerm:focus{
      color: #00B4CC;
      }

    .searchButton {
      position: absolute;  
      right: -50px;
      width: 40px;
      height: 36px;
      border: 1px solid #00B4CC;
      background: #00B4CC;
      text-align: center;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      font-size: 20px;
      }

    /*change search bar dimentions here*/
    .wrap{
      position: absolute;
      left: 50%;
      top: 5px;
      transform: translate(-50%, -50%);
      width: 50%; 
        
    }
    .fa fa search {
        display: inline-flex;
      }
     
   /* STYLING FOR JS CARD LAYOUT */ 
    
    * {
      box-sizing: border-box
    }

    html {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-family: 'Dosis', sans-serif;
      line-height: 1.6;
      color: #696969;
      background: white;
    }

    #root {
      max-width: 1200px;
      margin: 0 auto;
    }

    h1 {
      text-align: center;
      padding: 1.5rem 2.5rem;
      background-color: #b0bac6;
      margin: 0 0 2rem 0;
      font-size: 1.5rem;
      color: #696969;
      }

    p {
      padding: 0 2.5rem 2.5rem;
      margin: 0;
      }

    .container1{
      display: flex;
      flex-wrap: wrap;
     }

    .card {
      margin: 1rem;
      background: #bobac6;
      box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
      border-radius: 12px;
      overflow: hidden;
      transition: all .2s linear;
      }

    .card:hover {
      box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
      transform: translate3D(0, -2px, 0);
     }

    @media screen and (min-width: 600px) {
      .card {
        flex: 1 1 calc(50% - 2rem);
       }
     }

    @media screen and (min-width: 900px) {
      .card {
        flex: 1 1 calc(33% - 2rem);
       }
     }

    .card:nth-child(2n) h1 {
      background-color: #b0bac6;
      color: #696969;
     }

    .card:nth-child(4n) h1 {
      background-color: #b0bac6;
      color: #696969;
     }

    .card:nth-child(5n) h1 {
      background-color #b0bac6;
      color: #696969;
      }

    .container2 {
    	padding: 20px;
    	width: 90%;
    	max-width: 400px;
    	margin: 0 auto;
      }

    label {
    	display: block;
    	line-height: 1.5em;
     }

    ul {
    	margin-left: 0;
    	padding-left: 0;
    	list-style: none;
      }

    li {
    	padding: 8px 16px;
    	border-bottom: 1px solid #eee;
      }
