* {
  font-family: Arial, sans-serif;

}

body {
  background-image: url("starsky.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  height: 550px;
  margin-bottom: 50px;
  z-index: 1;
}

a h1 {
  color: #FDFDFD;
}

a h1:active {
  color: #ccc;
}

h1 {
  margin-top: 10%;
  margin-bottom: 10%;
  font-weight: bold;
}

p {
  font-size: 1.5em;
}

label {
  color: white;
}

/* SEARCH BOX */
.search-box {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  max-width: 500px;
}

input[class="form-control"] {
  background: #FDFDFD;
  border: 0.1555em white;
  border-radius: 0;
  
  font-size: em;
  height: 50px;
  margin-bottom: 1em;
  text-align: center;
}

input[class="form-control"]:focus {
  border:0.1555em solid #f0932b;
  
}

/**** BUTTONS ****/
.buttons {
  margin-top: 1em;
}

.btn {
  color: #FDFDFD;
  background: #f0932b;
}

.btn:nth-of-type(2) {
  background: #1abc9c;
}

.btn:nth-of-type(2):hover {
  background: #e6e6e6;
}

.btn, .btn:hover {
  border-style: none;
}
/*********************/

ol {
  display: block;
  clear: both;
  overflow: hidden;
}

ol li {
  display: block;
  background: #FDFDFD;
  list-style: none;
  padding: 10px;
  margin-bottom: 1em;
  box-shadow:
   1px 1px 0 rgb(51, 166, 205),
   2px 2px 0 rgb(22, 160, 156),
   3px 3px 0 rgb(22, 160, 133),
   4px 4px 0 rgb(22, 160, 133),
   5px 5px 0 rgb(22, 160, 133),
   6px 6px 0 rgb(22, 160, 133),
   7px 7px 0 rgb(22, 160, 133);
}


/* RESULTS */
ol li a {
  display: inline-block;
  background: #ffdb30;
  padding: 10px;
  margin-bottom: 10px;
}

ol li p {
  color: #555;
  font-size: 1.2em;
}

.no-result {
  margin: 5em auto;
  max-width: 200px;
  text-align: center;
  align-items: center;
}

.no-result p {
  margin: 0;
}


/* MEDIA QUERIES */

@media (max-width: 575px) {
  .search-box {
    margin-top: 6em;
  }

  ol li p {
    font-size: 1.1em;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .search-box {
    margin-top: 6em;
  }

  ol li p {
    font-size: 1.1em;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .search-box {
    margin-top: 5em;
  }
}

@media (min-width: 991px) {

}

#root {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  border: 1px solid gray;
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}


/* API formatting*/
* {
  box-sizing: border-box
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  color: #666;
  background: #F6F6F6;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding: 1.5rem 2.5rem;
  background-image: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);
  margin: 0 0 2rem 0;
  font-size: 1.5rem;
  color: white;
}

img {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
}

p {
  padding: 0 2.5rem 2.5rem;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  background: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  border-radius: 12px;
  overflow: hidden;
  transition: all .2s linear;
}

.card:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(0, -2px, 0);
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}

.card:nth-child(2n) h1 {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.card:nth-child(4n) h1 {
  background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
}

.card:nth-child(5n) h1 {
  background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
}
